{% extends 'base.html' %}
{% load static %}


{% block content %}

<form method="POST" action="">
  <br>
  <div class = 'bg-text ' style="float:none;margin:auto;">
    <div class = 'col-lg-6 ' style="float:none;margin:auto;">
      <h2 style="text-align:center;background-color:#262625;color:#cf834c;">USER REGISTRATION</h2>
      
      {% csrf_token %}
      <div class="input-container">
        <i class="fa fa-user icon" style="background-color:#262625;"></i>
        
        <input  type="text" placeholder="Username" name="username" class="form-control">
      </div>

      <div class="input-container">
        <i class="fa fa-envelope icon" style="background-color:#262625;"></i>
        
        <input  type="text" placeholder="Email" name="email" class="form-control">
      </div>

      <div class="input-container" >
        <i class="fa fa-key icon" style="background-color:#262625;"></i>
        
        <input  type="password" placeholder="Password" name="password1" class="form-control">
      </div>

        <div class="input-container" >
          <i class="fa fa-key icon" style="background-color:#262625;"></i>
          
          <input  type="password" placeholder="Password again" name="password2" class="form-control">
        </div>
    </div>

    <div class = 'col-lg-2 ' style="float:none;margin:auto;">
      <button type="submit" class="btn btn-success">Register</button><br>
    </div>

    <div class='col-lg-4'style="float:none;margin:auto;">
          <h5 style="text-align:center;background-color:#262625;color:#cf834c;">Already have an account?</h5>
    </div>
    <div class = 'col-lg-2 ' style="float:none;margin:auto;">
      <a href="{% url 'login' %}"class="btn btn-secondary">Login</a>
    </div>

    {{form.errors}}
  </div>
</form>


{% endblock%}